
  .login-container-special {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.login-card-special {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.professor-active-special {
  transform: rotateY(0deg);
}

.admin-active-special {
  transform: rotateY(0deg);
}

.professor-inactive-special {
  transform: rotateY(180deg);
}

.admin-inactive-special {
  transform: rotateY(-180deg);
}

.login-input-group-special {
  margin-bottom: 15px;
}

.login-label-special {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input-special {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-alert-special {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}


.login-button-special {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-switch-text-special {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-decoration: underline;
}
